# Question 1

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

In [1]:
a=0        
def b():   
    global a   # a is called Global
    a = cat(a)
    print(a)
        
def cat(a):   
    return a + 2

b()
b()
b()
print(a)

2
4
6
6

The value of a is increased everytime when everytime c() is called. Whwn each time b() is called, function c() returns 'a+2'. So when b() is called 3 times we will get [(0+2=2, 2+2=4, 4+2=6)].

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: >>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:
        print("file "+file_name+" not found.")
        
file_length("Filelength.txt")
file_length("ilelength.txt")

123
file ilelength.txt not found.

# Question 3

Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [3]:
class Marsupial:  # Creating a class Marsupial
    def __init__(self):
        self.s = []
    
    def put_in_pouch(self, letters): #using this function we store words
        self.s.append(letters)
        
    def pouch_contents(self):  # using this function to display 
        print(self.s)

In [4]:
m = Marsupial() # Creating an object
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
    
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

In [5]:
class Kangaroo(Marsupial): # Creating a subclass Kangaroo under Marsupial
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,x1,y1):  # Using this method increasing the coordinates by x1 and y1
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self): # Using this to display
        return "I am a Kangaroo located at coordinates (%s, %s)" % (self.x, self.y)

In [6]:
k = Kangaroo(0,0) #creating an object
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [7]:
k.put_in_pouch('doll') # Using this function to insert
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents() # Using this to display

['doll', 'firetruck', 'kitten']

In [8]:
k.jump(1,0) #Using these function we increase the coordinates
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

collatz(1)

1

collatz(10)

10

5

16

8

4

2

1

In [9]:
def collatz(a):
    if a==1:
        print(int(a)) # Recursive function
        return 1
    elif a%2==0:
        print(a)
        return collatz(int(a/2))# It 洧녰洧 for 洧뉧롐洧뉧롐뜦n    else:
        print(a)
        return collatz(int(3*a+1))#It 洧녰洧 for 洧녶洧녬洧녬
b =collatz(1)

b=collatz(10)

1
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)

0

binary(1)

1

binary(3)

11

binary(9)

1001

In [10]:
def binary(value): 
    if value<0: 
        print("Enter the Correct value")
    elif value == 0: 
        return 0
    else: 
        return (value % 2 + 10 * binary(int(value // 2)))

In [11]:
binary(0)

0

In [12]:
binary(1)

1

In [13]:
binary(3)

11

In [14]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [15]:
# Referred from Week 6 Notes
from html.parser import HTMLParser
class parser(HTMLParser):        
    Heading=False                 
    def handle_starttag(self, tag, attrs):
        if(len(tag)==2 and tag[0]=='h'):
            self.Heading=True
            n=int(tag[1])        
            while n>0:
                print("\t",end="") 
                n=n-1
    def handle_data(self,data):
        if self.Heading:
            print(data)     
    def handle_endtag(self,tag):
        if self.Heading:
            self.Heading=False  
        
file=open("w3c.html")
content=file.read()
file.close()  
p = parser()
p.feed(content)

	W3C Mission
		Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [16]:
import re
from urllib.request import urlopen
from html.parser import HTMLParser
class parser(HTMLParser):
                          
    def __init__(self):   
        HTMLParser.__init__(self)
        self.url_link=False
        self.link_lst=[]
    def handle_starttag(self, tag, attrs):
        if(len(tag)==1 and tag=='a'):           
            if(attrs[0][0]=="href"):               
                str1=re.search("http",attrs[0][1])
                if str1:
                    self.url_link=True
                    self.link_lst.append(attrs[0][1])
                    
    def handle_endtag(self,tag):
        if self.url_link:             
            self.url_link=False

In [17]:
def return_obj():
    return parser()
def webdir(url_list,depth,intend):      
    if depth==0:
        for i in url_list:
            for j in range(intend):
                print("\t",end="")
            print(i)
        return
    else:    
        for i in url_list:       
            url=i
            for i in range(intend):       
                print("\t",end="")
            print(url)
            page = urlopen(url)                     
            html_bytes=page.read()
            html_content=html_bytes.decode("UTF-8")
            obj=return_obj()               
            obj.feed(html_content)      
            l=obj.link_lst
            webdir(l,depth-1,intend+1)

In [18]:
url=["file:///C:/Users/Geo/Desktop/PS 2/w3c.html"]
webdir(url,2,0)

file:///C:/Users/Geo/Desktop/PS 2/w3c.html
	http://www.w3.org/Consortium/mission.html
		http://open-stand.org/principles/
		http://open-stand.org/
		http://lists.w3.org/Archives/Public/site-comments/
		http://twitter.com/W3C
		http://www.csail.mit.edu/
		http://www.ercim.org/
		http://www.keio.ac.jp/
		http://ev.buaa.edu.cn/

# Question 8

Write SQL queries on the below database table

City| Country| Season| Temperature(C)|Rainfall(mm)

Mumbai| India| Winter| 24.8| 5.9

Mumbai| India| Spring| 28.4 |16.2

Mumbai| India |Summer |27.9 |1549.4

Mumbai| India| Fall| 27.6| 346.0

London|United Kingdom| Winter| 4.2 |207.7

London| United| Kingdom |Spring| 8.3| 169.6

London| United| Kingdom| Summer| 15.7| 157.0

London| United| Kingdom |Fall |10.4| 218.5

Cairo| Egypt| Winter| 13.6| 16.5

Cairo| Egypt |Spring| 20.7| 6.5

Cairo| Egypt| Summer| 27.7| 0.1

Cairo| Egypt| Fall| 22.2| 4.5

In [19]:
import sqlite3
connect = sqlite3.connect("Seasons")
s=connect.cursor()
s.execute("CREATE TABLE Seasons(City TEXT,Country TEXT,Season TEXT,Temperature REAL,Rainfall REAL)")
s.execute("INSERT INTO Seasons VALUES('Mumbai','India','Winter',24.8,5.9)")
s.execute("INSERT INTO Seasons VALUES('Mumbai','India','Spring',28.4,16.2)")
s.execute("INSERT INTO Seasons VALUES('Mumbai','India','Summer',27.9,1549.4)")
s.execute("INSERT INTO Seasons VALUES('Mumbai','India','Fall',27.6,346.0)")
s.execute("INSERT INTO Seasons VALUES('London','United Kingdom','Winter',4.2,207.7)")
s.execute("INSERT INTO Seasons VALUES('London','United Kingdom','Spring',8.3,169.6)")
s.execute("INSERT INTO Seasons VALUES('London','United Kingdom','Summer',15.7,157.0)")
s.execute("INSERT INTO Seasons VALUES('London','United Kingdom','Fall',10.4,218.5)")
s.execute("INSERT INTO Seasons VALUES('Cairo','Egypt','Winter',13.6,16.5)")
s.execute("INSERT INTO Seasons VALUES('Cairo','Egypt','Spring',20.7,6.5)")
s.execute("INSERT INTO Seasons VALUES('Cairo','Egypt','Summer',27.7,0.1)")
s.execute("INSERT INTO Seasons VALUES('Cairo','Egypt','Fall',22.2,4.5)")

# a) All the temperature data.
s.execute("SELECT Temperature FROM Seasons")
data=s.fetchall()
for i in data:
    print(i)

# b) All the cities, but without repetition.    
s.execute("SELECT DISTINCT City FROM Seasons")
data=s.fetchall()
for i in data:
    print(i)

# c) All the records for India.    
s.execute("SELECT * FROM Seasons WHERE Country=='India'")
data=s.fetchall()
for i in data:
    print(i)

# d) All the Fall records.    
s.execute("SELECT * FROM Seasons WHERE Season=='Fall'")
data=s.fetchall()
for i in data:
    print(i)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
s.execute("SELECT City,Country,Season FROM Seasons WHERE Rainfall>=200 AND Rainfall<=400")
data=s.fetchall()
for i in data:
    print(i)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
s.execute("SELECT City,Country FROM Seasons WHERE Season=='Fall' AND Temperature>20 ORDER BY Temperature DESC")
data=s.fetchall()
for i in data:
    print(i)

# g) The total annual rainfall for Cairo.   
s.execute("SELECT SUM(Rainfall) FROM Seasons WHERE City='Cairo'")
data=s.fetchall()
print(data)

# h) The total rainfall for each season.
s.execute("SELECT Season,SUM(Rainfall) FROM Seasons GROUP BY Season")
data=s.fetchall()
print(data)


connect.commit()
connect.close()

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India')
('Cairo', 'Egypt')
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
u=[]
v=[]
w=[]
x=[]
y=[]
for i in words:
    u.append(i.upper())                        
print("UPPER CASE:\n\n",u,"\n")
for i in words:
    v.append(i.lower())                       
print("LOWER CASE:\n\n",v,"\n")
for i in words:
    w.append(len(i))                         
print("LENGTH OF THE ELEMENTS:\n\n",w,"\n")
for i in words:
    x.append([i.upper(),i.lower(),len(i)])
print("LIST CONTAINING UPPER CASE,LOWER CASE AND LENGTH OF THE ELEMENTS:\n\n",x,"\n")
for i in words:
    if len(i)>=4:
        y.append(i)
print("LETTERS WITH LENGTH GREATER THAN FOUR:\n\n",y,"\n")

UPPER CASE:

 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

LOWER CASE:

 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

LENGTH OF THE ELEMENTS:

 [3, 5, 5, 3, 5, 4, 3, 4, 3]

LIST CONTAINING UPPER CASE,LOWER CASE AND LENGTH OF THE ELEMENTS:

 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

LETTERS WITH LENGTH GREATER THAN FOUR:

 ['quick', 'brown', 'jumps', 'over', 'lazy']